@{
    ViewData["Title"] = "Home Page";
    var errorMsg = TempData["ErrorNotAuth"];
}

<div class="text-center">
    @if(errorMsg != null){
            <h1 class="bg-warning">@errorMsg.ToString()</h1>
    }

    <h1 class="display-4">Welcome</h1>
    
</div>
